$primary-color: #262a2b;

%Align-mid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchBar-MainContainer {
  height: 4rem;
  width: 75%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid white;
}

.search--box {
  width: 80%;
  background-color: transparent;
  height: 90%;
  border: none;
  color: white;
  font-size: 2rem;
}
.search--box:focus {
  outline: none;
}

.search--button {
  width: 20%;
  height: 100%;
  background-color: palegreen;
  border-radius: 0rem 0.9rem 0.9rem 0;
  @extend %Align-mid;
  cursor: pointer;

 
}



// Responsive style

@media (max-width: 1024px){

  .SearchBar-MainContainer{
    height: 3.5rem;
    
  }

  .search--button{
    img{
      height: 50%;
    }
  }
}


@media (max-width: 756px){

  .SearchBar-MainContainer{
    width: 90%;
    
  }

}